<h1>Todo一覧</h1>

<p><%= link_to '新規作成', new_todo_path %></p>

<% if @todos.any? %>
<ul>
    <% @todos.each do |todo| %>
    <li>
        <strong><%= todo.title %></strong>
        <% if todo.completed %>
        <em>(完了)</em>
        <% end %>
    </li>
    <% end %>
</ul>
<% else %>
<p>Todoはまだありません。</p>
<% end %>